
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <img style="float:left" src="~/App_Start/video-cover.jpg" />
    <p>
        <h2>1994’DEN BUGÜNE, YARINLARA EMİN ADIMLARDA YÜRÜYORUZ…</h2> 
        <H4>
            Bursa’da 1994 yılında HAKAN BÖBREK tarafından kurulan HAK4 RENT A CAR; 1997 yılında Türkiye Seyahat Acentaları Birliğine ( TÜRSAB ) üye olmuştur. Kaliteli hizmet anlayışını esas alan firmamız; RENT A CAR yeterlilik Belgesi sahibidir. Tüm araçlarımız Full RENT A CAR Kaskolu olup, periyodik bakımları zamanında ve eksiksiz olarak yapılmaktadır.

            Araç parkımızın büyük bir kısmı kurumsal bazda filo kiralama olarak değerlendirilmektedir. Bireysel alanda da müşterilerimizin ihtiyaçlarına en iyi şekilde hizmet vermeye çalışmaktadır. Müşteri güvenini kazanmanın önemini çok iyi bilen firmamız  ‘’Güven kaybetmektense para kaybetmeyi tercih ederiz.’’ ilkesini benimseyerek,  siz değerli dostlara hizmet vermeye devam etmektedir.

            Oto Kiralama hizmetlerinde bizleri tercih ettiğiniz için teşekkür eder güvenli ve keyifli yolculuklar dileriz.
        </H4>  
    </p>
</body>
</html>

