
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div> <img style="float:left; width:500PX;" src="~/App_Start/filo-kiralama-bursa.jpg" /></div>
    <div><h2 style="text-align:center">
    İLETİŞİM BİLGİLERİ: <br />
    Kükürtlü Mh. Oulu Cd. <br />
    HAK4 Sitesi No:5, Osmangazi | BURSA<br />
    (Paşa Çiftliği Metro İstasyonu CİVARI)<br />

    info@HAK4.com<br />

    +90 224 0000 10 94<br />

    +90 532 0000 92 07<br />
</h2></div>  
</body>
</html>


