@using WebApplication11.Models.tümsiniflarim
@model List<Marka>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px;width:1080px;width:100%">
    <tr style="background-color:#000000; color:white;">

        <th>MARKA ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Ad</td>
            <td>@Html.ActionLink("Sil", "MarkaSil", new { id = x.ID }, new { @class = "btn btn-danger", @style = "Background-color:red", onclick = "return confirm('Markayı Gerçekten Silmek İstiyor Musunuz?')" }) </td>
            <td>@Html.ActionLink("Güncelle", "MarkaGetir", new { id = x.ID }, new { @class = "btn btn-default", @style = "background-color:orangered; color:white;" })</td>

        </tr>
    }
</table>
@Html.ActionLink("Marka Ekle", "MarkaEkle", new { }, new { @class = "btn btn-default", @style = "background-color:blue; color:white; margin-top:15px; margin-left:20px;" })





